header {
    height: 80px;
    width: 100%;
    line-height: 80px;
    background-color: #333;
    padding: 0 20px;
    text-align: center;
    color: #ffa700;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

}
h1 {
    line-height: 80px;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
.separator{
    margin-top: 100px;
}
#customLink{
    color: inherit;
}
.zeroPadding{
    padding: 0;
}
.largerBtn{
    width: 33%;
}

.msgBoard{
    float: right;
    width: 30%;
}
.processBoard{
    float: left;
    width: 70%
}
.operatorBoard{
    width: 100%;
    direction: ltr;
}
