@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);


hr {
    color: #f15651;

    display: block;
    height: 1px;
    width:82%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 0;
    margin-bottom:60px;

}

.autoQuesCategory{
    font-family: "Alef Hebrew";
    color: #403d3c;
    direction: rtl;
    background: #dedede;
    width: 350px;
    height:600px;
    padding-top: 20px;

}

.allAutoCategories{
    margin-bottom: 30px;
    margin-left: 250px;
}

.autoQuesTitle{
    font-family: "Alef Hebrew";
    font-weight: bold;
    text-align: center;
    font-size: 33px;
    padding: 10px;
    color: #f15651;

}
#pubTransportation{
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 40px;

}

#education{
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 40px;

}

#roads{
    margin-bottom: 70px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 40px;

}

.Bullets{
    direction: rtl;
    font-size: 14px;
    margin-top: 50px;
    margin: 20px;
}

.singleQuestion{
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

#toggleIcon{
    padding: 8px;

}
.cityNav {
    font-family: "Alef Hebrew";
    direction: rtl;
    font-size: 20px;
}

#basic-nav-dropdown{
    font-family: "Alef Hebrew";
    width: 350px;
    margin-left: 310px;
    padding-top: 10px;
    /*padding-bottom: 20px;*/


}


#dropDownTitle{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 230px;
    margin-top: 40px;

}

.menu{
    position: relative;
    width: 350px;
    text-align: center;
    padding: 10px;
    height: 60px;
    font-size: 20px;
    opacity: 50;
    background-color: #F1ECEB;


}

#logo{
    float: left;
    width: 70px;
    height: 80px;

}

#burger{
    position: relative;
    display: inline-block;
    width:45px;
    margin-right: 0px;
    margin-left: 520px;
    margin-top: 20px;

}


.dropdown-menu{
    left:54px;
    background-color: #403D3C;
}

.menuitem:hover{
    background-color: inherit;
    color:white;
}